*.pyc
.DS_Store
env
venv
.idea/workspace.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/84fd5c55-7748-4c92-a56b-4faf29c3c337.xml
.idea/codeStyles/Project.xml
.idea/dataSources.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/modern-youth-connect.iml
.idea/workspace.xml
